@using PokemonFight.Data.EF;
@model List<Pokemon>

<div class="flex items-center justify-between w-[90%] mx-auto mb-20">
    @foreach (var pokemon in Model){
        <div class="w-[40%]">
            <div class="mb-10 flex items-center gap-2" name="barraVida">
                <label class="text-2xl font-bold">Vida </label>
                <label class="text-2xl font-bold" id="@pokemon.Nombre">100</label>
                <div class="w-[70%] h-[25px] rounded-3xl bg-[#303135] rounded-3xl bg-opacity-80">
                    <section class="w-[100%] h-[100%] bg-[#72cb10] rounded-3xl" id="barraVida @pokemon.Nombre"></section>
                </div>
            </div>

            <div class="flex items-center justify-center p-4 h-[350px]">
                @if(pokemon.Nombre.Equals("Squirtle")){
                   <img src="@pokemon.Imagen" class="w-[54%]" />
                }else{
                   <img src="@pokemon.Imagen" class="w-[100%]" />
                }
            </div>

            <div class="bg-[#ffd538] flex items-center justify-center pt-6 pb-6 border border-black border-2 rounded-3xl">
                <p class="text-2xl">@pokemon.Nombre</p>
            </div>

            <div class="grid grid-cols-2 grid-rows-2 mt-4 gap-4">
                @foreach(var ataque in pokemon.AtaquePokemons){
                    <button value="@ataque.IdAtaqueNavigation.Id" name="ataquePokemon" class="bg-[#f3be12] border border-black p-6 rounded-xl flex items-center justify-center text-2xl">
                        @ataque.IdAtaqueNavigation.Nombre
                    </button>
                }    
            </div>
        </div>
    }
    
</div>
<div class="chat-contenedor">
    <h2 class="text-center">Chat de Batalla</h2>
    <ul id="chat" class="chat-mensajes">
        <!-- Mensajes del chat se agregan aquí -->
    </ul>
</div>

<style>
    .chat-contenedor {
        position: fixed; /* Fijar el chat en la ventana del navegador */
        top: 50%; /* Colocarlo en la mitad vertical de la pantalla */
        left: 50%; /* Colocarlo en la mitad horizontal de la pantalla */
        transform: translate(-50%, -50%); /* Centrar el contenido */
        background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    /* Estilos para los mensajes del chat */
    .chat-mensajes {
        list-style: none;
        padding: 0;
        max-height: 300px; /* Altura máxima del chat antes de desplazarse */
        overflow-y: auto; /* Agregar una barra de desplazamiento vertical si es necesario */
    }
</style>